<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <% if user.activated? %>
      | <%= link_to "activated", toggle_activation_user_path(user), method: :post,
                                       data: { confirm: "Deactivate user?" } %>
    <% else %>
      | <%= link_to "not activated", toggle_activation_user_path(user), method: :post,
                                           class: "btn btn-danger btn-xs",
                                           data: { confirm: "Activate user?" } %>
    <% end %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
</li>

