<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%#= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%#= f.input :name, label: 'Your name please' %>
      <%#= f.input :email, placeholder: 'user@domain.com' %>
      <%#= f.input :password %>
      <%#= f.input :password_confirmation %>
      <%#= f.button :submit, 'Create my account', class: 'btn btn-primary' %>

      <%#= f.label :name %>
      <%#= f.text_field :name, class: 'form-control' %>

      <%#= f.label :email %>
      <%#= f.text_field :email, class: 'form-control' %>

      <%#= f.label :password %>
      <%#= f.password_field :password, class: 'form-control' %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%#= f.password_field :password_confirmation, class: 'form-control' %>

      <%= render 'fields', f: f %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
