    <footer class="footer">
      <small>
        The <a href="http://www.infalliblekitty.com/">Sample App</a>
        by <a href="https://bitbucket.org/JensJap">Jens Jap</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="https://bitbucket.org/JensJap">News</a></li>
        </ul>
      </nav>
    </footer>

